---
layout: default
title: Willka Yachay
name: home
---

<div class="bg">
  <video loop autoplay="true" preload="metadata">
    <source src="/images/video/home.mp4" type="video/mp4">
  </video>
  <div class="bg-cover"></div>
  <div class="no-video" data-src="/images/home/top.jpg"></div>
</div>

<section id="top">
  <div class="logotype">
    {% include logotype-h.svg %}
  </div>
</section>

<section id="intro">
  <div class="keyline"></div>
  <div class="text">
    <p>Willka Yachay is a nonprofit organization dedicated to helping indigenous communities survive in the modern world.</p>
    <p>We empower native communities to guide themselves toward sustainable modernity, to elevate their standard of living, and to revitalize their cultural identity.</p>
  </div>
</section>

<section id="home-qeros">
  <div class="frame-img">
    <div data-src="/images/qeros/cover.jpg"></div>
  </div>
  <div class="caption">
    <h3>Who We Help</h3>

    <a class="title" href="/qeros">
      <div class="title-inner">
        <h2>Q&rsquo;eros</h2>
        <div class="arrow-wrap">
          {% include arrow.svg %}
        </div>
      </div>
      <div class="title-inner hover">
        <h2>Q&rsquo;eros</h2>
      </div>
    </a>

    <p>Considered Peru&rsquo;s last Incan community, the Q&rsquo;eros Nation is a cultural treasure, yet its communities lack basics such as electricity, clean water, health care, and food security.</p>
    <a href="/qeros">Learn more about the Q&rsquo;eros Nation</a>
  </div>
</section>

<section id="home-projects">
  <div class="frame-img">
    <div data-src="/images/projects/energy.jpg"></div>
  </div>
  <div class="caption">
    <h3>What We Do</h3> 

    <a class="title" href="/projects">
      <div class="title-inner">
        <h2>Projects</h2>
        <div class="arrow-wrap">
          {% include arrow.svg %}
        </div>
      </div>
      <div class="title-inner hover">
          <h2>Projects</h2>
      </div>
    </a>

    <p>Willka Yachay provides Q&rsquo;eros with diverse resources: we build and support schools, provide sustainable sources of energy and food, and nurture ancient culture.</p>
    <a href="/projects">See how we help</a>
  </div>
</section>

<section id="home-schools">
  <div class="frame-img">
    <div data-src="/images/schools/top.jpg"></div>
  </div>
  <div class="caption">
    <h3>Our Education Initiative</h3> 

    <a class="title" href="/schools">
      <div class="title-inner">
        <h2>Schools</h2>
        <div class="arrow-wrap">
          {% include arrow.svg %}
        </div>
      </div>
      <div class="title-inner hover">
        <h2>Schools</h2>
      </div>
    </a>

    <p>Willka Yachay builds schools high in the Andes. We collaborate with Q&rsquo;eros not just on construction, but on developing the curriculum, school administration, and more.</p>
    <a href="/schools">Learn more about our schools</a>
  </div>
</section>

<section id="home-about">
  <div class="frame-img">
    <div data-src="/images/home/qeros.jpg"></div>
  </div>
  <div class="caption">
    <h3>Who We Are</h3>

    <a class="title" href="/about">
      <div class="title-inner">
        <h2>About</h2>
        <div class="arrow-wrap">
          {% include arrow.svg %}
        </div>
      </div>
      <div class="title-inner hover">
        <h2>About</h2>
      </div>
    </a>

    <p>Read our story and meet the Willka Yachay team.</p>
    <a href="/about">About us</a>
  </div>
</section>

<section id="home-shop">
  <div class="frame-img">
    <div data-src="/images/home/weaving.jpg"></div>
  </div>
  <div class="caption">
    <h3>Handmade Textiles</h3> 
    <a class="title" href="/shop">
      <div class="title-inner">
        <h2>Shop</h2>
        <div class="arrow-wrap">
          {% include arrow.svg %}
        </div>
      </div>
      <div class="title-inner hover">
        <h2>Shop</h2>
      </div>
    </a>

    <p>Browse textiles handwoven by Qeros people. All proceeds from our shop directly support Q&rsquo;eros.</p>
    <a href="/shop">Explore the shop</a>
  </div>
</section>


<section id="home-donate">
  <div class="frame-img">
    <div data-src="/images/home/qeros.jpg"></div>
  </div>
  <div class="caption">
    <h3>Support our work</h3>
    
    <a class="title" href="#donate">
      <div class="title-inner">
        <h2>Donate</h2>
        <div class="arrow-wrap">
          {% include arrow.svg %}
        </div>
      </div>
      <div class="title-inner hover">
        <h2>Donate</h2>
      </div>
    </a>

    <p>Help us perpetuate ancient culture in the modern world.</p>
    <a href="#donate" data-bypass="true">Donate to Willka Yachay</a>
  </div>
</section>