---
layout: default
title: Willka Yachay
name: home
---

<div class="bg">
  <video loop autoplay="true" preload="auto">
    <source src="/images/video/home.mp4" type="video/mp4">
  </video>
  <div class="bg-cover"></div>
  <div class="no-video" data-src="/images/home/top.jpg"></div>
</div>

<section id="top">
  <div class="logotype cell">
    {% include logotype-h.svg %}
  </div>
</section>

<section id="intro">
  <div class="keyline"></div>
  <div class="text">
    <p>Willka Yachay is a nonprofit organization dedicated to helping indigenous communities thrive in the modern world.</p>
    <p>We are empowering the next generation of the indigenous Q&rsquo;eros Nation of Peru to become leaders who elevate their standard of living, guide their community toward sustainable modernity and revitalize their cultural identity.</p>
  </div>
</section>

<section id="home-qeros">
  <div class="frame-img">
    <div data-src="/images/qeros/cover.jpg"></div>
  </div>
  <div class="caption">
    <h3>Who We Help</h3>

    <a class="arrow-link" href="/qeros">
      <div class="arrow-link-inner">
        <h2>Q&rsquo;eros</h2>
        <div class="arrow-wrap">
          {% include arrow.svg %}
        </div>
      </div>
      <div class="arrow-link-inner hover">
        <h2>Q&rsquo;eros</h2>
      </div>
    </a>

    <p>Considered Peru&rsquo;s last Incan community, the Q&rsquo;eros people are a human treasure, yet they lack clean water, health care, food security, electricity and education.</p>
    <!-- <a href="/qeros">Learn more about the Q&rsquo;eros Nation</a> -->
  </div>
</section>

<section id="home-projects">
  <div class="frame-img">
    <div data-src="/images/projects/energy.jpg"></div>
  </div>
  <div class="caption">
    <h3>What We Do</h3> 

    <a class="arrow-link" href="/projects">
      <div class="arrow-link-inner">
        <h2>Projects</h2>
        <div class="arrow-wrap">
          {% include arrow.svg %}
        </div>
      </div>
      <div class="arrow-link-inner hover">
          <h2>Projects</h2>
      </div>
    </a>

    <p>Together with the Q'eros, we build and sustain schools; implement solar programs, a weaving cooperative, &amp; music and cultural preservation projects; provide food security, a medical center, &amp; mother and infant care; and lead learning expeditions to Q&rsquo;eros.</p>
    <!-- <a href="/projects">See how we help</a> -->
  </div>
</section>

<section id="home-schools">
  <div class="frame-img">
    <div data-src="/images/schools/top.jpg"></div>
  </div>
  <div class="caption">
    <h3>Our Education Initiative</h3> 

    <a class="arrow-link" href="/schools">
      <div class="arrow-link-inner">
        <h2>Schools</h2>
        <div class="arrow-wrap">
          {% include arrow.svg %}
        </div>
      </div>
      <div class="arrow-link-inner hover">
        <h2>Schools</h2>
      </div>
    </a>

    <p>Willka Yachay builds schools high in the Andes. We collaborate with Q&rsquo;ero parents and elders on construction, administration and curriculum development. We employ culturally sensitive teachers and provide all supplies, nutritious food and educational (and fun) national and international field trips.</p>
    <!-- <a href="/schools">Learn more about our schools</a> -->
  </div>
</section>

<section id="home-about">
  <div class="frame-img">
    <div data-src="/images/home/about.jpg"></div>
  </div>
  <div class="caption">
    <h3>Who We Are</h3>

    <a class="arrow-link" href="/about">
      <div class="arrow-link-inner">
        <h2>About</h2>
        <div class="arrow-wrap">
          {% include arrow.svg %}
        </div>
      </div>
      <div class="arrow-link-inner hover">
        <h2>About</h2>
      </div>
    </a>

    <p>Read our story and meet the Willka Yachay team.</p>
    <!-- <a href="/about">About us</a> -->
  </div>
</section>

<section id="home-shop">
  <div class="frame-img">
    <div data-src="/images/home/weaving.jpg"></div>
  </div>
  <div class="caption">
    <h3>Handmade Textiles</h3> 
    <a class="arrow-link" href="/shop">
      <div class="arrow-link-inner">
        <h2>Shop</h2>
        <div class="arrow-wrap">
          {% include arrow.svg %}
        </div>
      </div>
      <div class="arrow-link-inner hover">
        <h2>Shop</h2>
      </div>
    </a>

    <p>Browse textiles handwoven by Q&rsquo;eros. All proceeds from our shop directly support Q&rsquo;eros communities.</p>
    <!-- <a href="/shop">Explore the shop</a> -->
  </div>
</section>


<section id="home-donate">
  <div class="frame-img">
    <div data-src="/images/home/donate.jpg"></div>
  </div>
  <div class="caption">
    <h3>Support our work</h3>
    
    <a class="arrow-link donate-btn" href="#donate" data-bypass="true">
      <div class="arrow-link-inner">
        <h2>Donate</h2>
        <div class="arrow-wrap">
          {% include arrow.svg %}
        </div>
      </div>
      <div class="arrow-link-inner hover">
        <h2>Donate</h2>
      </div>
    </a>

    <p>Help us help the Q&rsquo;eros people to prosper and perpetuate the beauty and wisdom of their ancient culture.</p>
    <!-- <a href="#donate" data-bypass="true">Donate to Willka Yachay</a> -->
  </div>
</section>