---
layout: default
title: Shop | Willka Yachay
name: shop
---

<div class="bg">
  <div class="frame-img">
    <div data-src="/images/projects/weaving.jpg"></div>
  </div>
  <div class="gradient"></div>
</div>

<section id="top">
  <div class="cell">
    <h1>Shop</h1>
  </div>
</section>

<section id="story">
  <div class="text">
    <div class="keyline"></div>
    <div class="col">
      <p>Willka Yachay and Q’eros families have formed a cooperative to share their traditional weavings at a just price in Peru and abroad. Profits from fair trade sales are reinvested in the community. Willka Yachay helps generations perpetuate the ancient and beautiful textile tradition at the heart of Q’eros culture while enhancing family and community economic security.</p>
    </div>
    <div class="col">
      <p>"What was earlier invisible to me became evident. The presence of mountain spirits was everywhere, even in the devotional weavings of the Indians. Their ancient textile techniques connected past to present: a continuous thread passed from generation to generation over millenia."</p>
      <p>John Cohen, <i>Hidden Threads of Peru</i></p>
    </div>
  </div>
</section>

<section id="items">
  <aside><div class="filter"><ul></ul></div></aside>
  <div class="pagination"></div>
  <div class="item-list"></div>
  <div class="pagination"></div>
</section>


<div id="item-page"></div>

<script type="text/template" id="shopItem-template">
  {% include shopItem.html %}
</script>

<script type="text/template" id="shopCategoryHeader-template">
  {% include shopCategoryHeader.html %}
</script>

<script type="text/template" id="shopItemPage-template">
  {% include shopItemPage.html %}
</script>

<script type="text/template" id="shopNoItems-template">
  <div class="no-items">
    <p>We&rsquo;re currently sold out of items in this category.</p>
  </div>
</script>
