---
layout: default
title: Shop | Willka Yachay
name: shop
---

<div class="bg">
  <div class="frame-img">
    <div data-src="/images/projects/weaving.jpg"></div>
  </div>
  <div class="gradient"></div>
</div>

<section id="top">
  <div class="cell">
    <h1>Shop</h1>
  </div>
</section>

<section id="story">
  <div class="text">
    <div class="keyline"></div>
    <div class="col"> 
      <p>Willka Yachay and Q’eros families have formed a cooperative to share their traditional weavings at a just price. Our collaboration celebrates an ancient and beautiful tradition at the heart of Q’eros culture, promotes its perpetuation by younger generations and enhances family and community economic security.</p>
    </div>
    <div class="col">
      <p>"What was earlier invisible to me became evident. The presence of mountain spirits was everywhere, even in the devotional weavings of the Indians. Their ancient textile techniques connected past to present: a continuous thread passed from generation to generation over millenia."</p>
    </div>
  </div>
</section>

<section id="items">
  <aside><div class="filter"><ul></ul></div></aside>
  <div class="pagination"></div>
  <div class="item-list"></div>
  <div class="pagination"></div>
</section>


<div id="item-page"></div>

<script type="text/template" id="shopItem-template">
  {% include shopItem.html %}
</script>

<script type="text/template" id="shopItemPage-template">
  {% include shopItemPage.html %}
</script>

<script type="text/template" class="shopCategoryHeader-template bag">
  <h1>Bags</h1>
  <div class="frame-img">
    <div data-src="/images/projects/weaving.jpg"></div>
  </div>
  <p>Willka Yachay students wear these woven bags to school every day to carry their notebooks. Men and women wear the practical and beautiful bags to carry their important possessions.</p>
</script>

<script type="text/template" class="shopCategoryHeader-template belts">
  <h1>Belts / <i>Chumpi</i></h1>
  <div class="frame-img">
    <div data-src="/images/projects/weaving.jpg"></div>
  </div>
  <p>Plain-weave belts (chumpi) are worn by Qeros men. They are also used to bind the swaddling cloths of infants.</p>
</script>

<script type="text/template" class="shopCategoryHeader-template blanket">
  <h1>Blankets / <i>Frasada</i></h1>
  <div class="frame-img">
    <div data-src="/images/projects/weaving.jpg"></div>
  </div>
  <p>&ldquo;A large coarsely spun and woven blanket of undyed llama hair in two loom panels is used for sleeping, or to sit upon. Like the produce bags, they usually have stripes in several undyed colors, and sometimes have patterns made using narrow stripes in different colors similar to the belts.&rdquo;</p>
  <p>John Cohen. Hidden Threads of Peru</p>
</script>

<script type="text/template" class="shopCategoryHeader-template hat">
  <h1>Hats / <i>Chullo</i></h1>
  <div class="frame-img">
    <div data-src="/images/projects/weaving.jpg"></div>
  </div>
  <p>Qeros men knit and bead intricate cullus, caps, proudly emblematic of their indigenous status.</p>
</script>

<script type="text/template" class="shopCategoryHeader-template shawl">
  <h1>Shawls / <i>Lliqlla</i></h1>
  <div class="frame-img">
    <div data-src="/images/projects/weaving.jpg"></div>
  </div>
  <p>Qeros men knit and bead intricate cullus, caps, proudly emblematic of their indigenous status.</p>
</script>

<script type="text/template" class="shopCategoryHeader-template shawl">
  <h1>Shawls / <i>Lliqlla</i></h1>
  <div class="frame-img">
    <div data-src="/images/projects/weaving.jpg"></div>
  </div>
  <p>&ldquo;The most important textile from an artistic standpoint is the woman&rsquo;s shawl, or manta.&rdquo;  John Cohen. Hidden Threads of Peru</p>
</script>

<script type="text/template" class="shopCategoryHeader-template tunic">
  <h1>Tunics / <i>Unku</i></h1>
  <div class="frame-img">
    <div data-src="/images/projects/weaving.jpg"></div>
  </div>
  <p>&ldquo;Two different kinds of ponchos are woven in Q&rsquo;ero, one relatively plain and one heavily patterned. The patterned ponchos are called pallay poncho, from the pickup technique (pallay) used for the patterns.&rdquo; John Cohen. Hidden Threads of Peru</p>
</script>

<script type="text/template" class="shopCategoryHeader-template prayer-bundle">
  <h1>Prayer Bundles</h1>
  <div class="frame-img">
    <div data-src="/images/projects/weaving.jpg"></div>
  </div>
  <p>These antique, ornate prayer bundles were used in alpaca and llama fertility rituals. Each is unique and infused with blessings and prayers from Q’eros families.</p>
</script>

<script type="text/template" class="shopCategoryHeader-template prayer-bundle">
  <h1>Rope / <i>Waska</i></h1>
  <div class="frame-img">
    <div data-src="/images/projects/weaving.jpg"></div>
  </div>
  <p>&lsquo;Men braid ropes (washka) using coarse yarn spun from undyed llama hair in a variety of colors. They are used to tie loads to the backs of llamas as well as to secure larger loads to people. Men in Q&rsquo;ero may also wrap a rope around the waist as a belt over their tunic or ponchos when they are working. In addition, women use them to tie the loom bars to the stakes to maintain the tension of the warp when weaving. A man gives a fine rope for a loom to a woman he is courting.&rdquo; John Cohen. Hidden Threads of Peru</p>
</script>

<script type="text/template" class="shopCategoryHeader-template scarf">
  <h1>Scarves / <i>Chalina</i></h1>
  <div class="frame-img">
    <div data-src="/images/projects/weaving.jpg"></div>
  </div>
  <p>&lsquo;Q&rsquo;ero men wore scarves made predominantly of brown camelid fiber, with spin stripes and three evenly spaced groups of colored stripes. The scarves have four selvedges with a bright-red or pink wool fringe added to each end, of the kind typical on festival bags and dance slings.&rdquo; John Cohen. Hidden Threads of Peru</p>
</script>

<script type="text/template" class="shopCategoryHeader-template carrying-cloth">
  <h1>Carrying Cloths / <i>Unkuna</i></h1>
  <div class="frame-img">
    <div data-src="/images/projects/weaving.jpg"></div>
  </div>
  <p>Unkunas have been used since pre-Hispanic times in Q&rsquo;eros and range in size and function. Contents are placed at the center of the square cloth. The sides are then folded diagonally and the remaining corners are tied together to carry. Q&rsquo;ero women will use either fur bags or small carrying cloths for holding coca. Medium-sized cloths are used to carry cold lunch to the fields. These square cloths are woven predominantly of undyed yarn, and consist of a single loom panel. Occasionally a quartered design is woven in the cloth through the use of a dovetailed-warp join through the center. This technique is called t&rsquo;iklli in Q&rsquo;ero and is mastered by relatively few weavers. Lastly, the largest carrying cloths are referred to as kana. They are woven out of llama hair and used to carry larger loads, like a baby!</p>
</script>

<script type="text/template" class="shopCategoryHeader-template woman-skirt">
  <h1>Womens&rsquo; Skirts / <i>Pollera</i></h1>
  <div class="frame-img">
    <div data-src="/images/projects/weaving.jpg"></div>
  </div>
  <p>&lsquo;The skirts are black, and have their lower edges trimmed either with purchase kolon or with a locally woven bang called luyru. Q&rdquo;ero women wear the skirts to just below the knee in length. They wear two or three skirts at once, for warmth, and more for festivals.&rdquo; John Cohen. Hidden Threads of Peru</p>
</script>

<script type="text/template" class="shopCategoryHeader-template woman-shirt">
  <h1>Womens&rsquo; Shirts / <i>Aymilla</i></h1>
  <div class="frame-img">
    <div data-src="/images/projects/weaving.jpg"></div>
  </div>
  <p>&lsquo;A simple style of shirt called aymilla is worn by men, women and children in Q’eros. Red is a common color to be worn, and the style consists of a pullover with a y-neck, no collar, and tape-trimmed sleeves.&rdquo; John Cohen. Hidden Threads of Peru</p>
</script>