---
layout: default
title: Shop | Willka Yachay
name: shop
---

<section id="top">
  
  <div class="bg">
    <div class="weaving bag"></div>
    <div class="weaving brown"></div>
    <div class="weaving red"></div>
    <div class="weaving brown-1"></div>
    <div class="weaving rainbow"></div>
    <div class="weaving tonal"></div>
    <div class="weaving scarf"></div>
  </div>

  <div class="cell">
    <h1>Shop</h1>
    <h2>Coming Soon</h2>
  </div>

</section>

<!-- {% for item in site.shopitems %}
  {% include shop-item.html %}
{% endfor %} -->