<div id="donate">

  <!-- <div class="multiply"></div> -->
  <!-- <div class="border"></div> -->

  <div class="border"></div>

  <div class="half-l">
    <div class="text">
      <h1>Support Our Work</h1>

      <div class="keyline"></div>

      <h2>Your donation will support our students, projects, programs &amp; the Q&rsquo;eros community.</h2>

      <p>&ldquo;Less than .01% of the world&rsquo;s development funding goes directly to indigenous communities.&rdquo;</p>
      <p>&mdash; First Peoples Worldwide</p>
      <p>Help us change this.</p>

      <div class="mail">
          <p>All donations are tax-deductible and processed through our fiscal sponsor, Pachamama&rsquo;s Path, a 501(c)3 non-profit organization.<br/><br/>To wire funds, please 
              <script type="text/javascript">
                  //<![CDATA[
                  <!--
                  var x="function f(x,y){var i,o=\"\",l=x.length;for(i=0;i<l;i++){if(i<120)y++" +
                      ";y%=127;o+=String.fromCharCode(x.charCodeAt(i)^(y++));}return o;}f(\"\\037\\"+
                      "016\\023cvmif*j&h;o`yh<w\\014M\\031\\004\\n\\006CB\\rJ\\032Z]T[J(n({'&w98;8" +
                      "3p\\\"r=\\010\\003\\026%\\007\\016\\t/\\004Z\\030YIIU_<67.r\\177\\177vjk>*a" +
                      " q4\\034O\\036ZJJYLY\\033P\\036BF@Y.1m.t'`~j:kji`4rLJ\\036\\010BW\\023B\\01" +
                      "6\\006\\016\\0020\\006[\\035\\\\M\\n\\n\\034\\016\\016\\016\\023^o/qvfvru 9" +
                      "&d`$5rv90:\\\"-:K:b-*,AB*\\020\\021~\\177\\020\\027\\026{t\\037\\031\\033pq" +
                      "\\033\\037\\000mnh\\002\\007\\006kd\\r\\n\\013`a\\017\\014p\\035\\036\\006\\"+
                      "004qtw\\024\\025\\025\\020\\034\\020\\004\\177ba\\016\\017cdf\\013\\004)okl" +
                      "\\001\\002\\033& 1$/.!UXY67?8\\036\\010M\\010\\033\\000\\032M\\016\\025M\\0" +
                      "36\\034I\\001\\004\\020cI,T3ibtgx.===RSg^IRd#&'DE^VI/./|}mlROZU\\\\w\\016GX" +
                      "^\\031\\030\\001mnERT\\030@EX\\031NV_TV>&,++.0\\007~{z\\027\\020y}\\177\\01" +
                      "4\\r`ad\\t\\nbji\\006\\007onn\\003<PPS89$W[Y67^]^3,@AC()CDH%&INM\\\"\\\\613" +
                      "XYU+Z9;;PQ>> MN%'%JK+)*G@W..\\020}~wak\\025\\026\\030uv\\033\\035\\035rs\\0" +
                      "06\\001\\002oh\\003\\004\\007de\\n\\n\\014ab\\rrq\\036\\037l5ouv~fpt\\177\\" +
                      "022mx7/h;u8%--?)!fwvKJ\\033K:L\\017O\\034(\\017\\017\\003.\\034\\016\\030\\" +
                      "022\\\\\\013\\\\\\020\\022\\030;\\013\\033\\023?\\020\\021rg,djlts[4!d7:<>-" +
                      "4k(}(=n1/\\\"&!t6yIZ\\013\\010\\017L\\035K\\024@\\021\\033\\021D\\006]_W\\t" +
                      "[@RXRT\\027B\\006P\\021b\\035\\034c\\177,h,f5)?1b5a6g6q<<=!59-?xr\",120)"    ;
                  while(x=eval(x));
                  //-->
                  //]]>
              </script>
          </p>
          <p>If you would like to send a check, please make it out to Pachamama's Path and be sure to write &quot;Q'eros&quot; in the memo. Mail to Pachamama's Path, 5543 Pelican Way, St. Augustine, FL 32080-7051, USA</p>
      </div>

    </div>
  </div>

  <div class="btn-container half-r">

    <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="KWARVG9M3LYGU">
    </form> 
    <div class="trigger">
      <div class="cell">
        <div><p>Donate<p></div>
        <div><p>Now</p></div>
      </div>
    </div>
  </div>

  <div class="hide-btn">

    <svg width="21px" height="21px" viewBox="0 0 21 21" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs></defs>
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
            <g transform="translate(10.920310, 10.920310) rotate(-315.000000) translate(-10.920310, -10.920310) translate(-2.579690, -2.579690)" fill="#FFFFFF">
                <path d="M26,12.6526141 L26,14.3400053 L13.7908349,14.3400056 L13.7908357,26.9642857 L12.168463,26.9642857 L12.1684623,14.3400056 L5.68434189e-14,14.340006 L5.68434189e-14,12.6526148 L12.1684623,12.6526144 L12.1684616,0.0357142857 L13.7908343,0.0357142857 L13.7908349,12.6526144 L26,12.6526141 Z M26,12.6526141"></path>
            </g>
        </g>
    </svg>


  </div>
</div>
