<% var nameCleaned = name.english.singular.replace(/[',]+/g, '').replace(/\s+/g, '-') %>
<header class="category-header <%= nameCleaned %>">
  <% if (typeof noImage !== 'undefined') { %>
    <div></div>
  <% } else { %>
    <div class="frame-img">
      <div data-src="/images/shop/categories/<%= nameCleaned + '.jpg' %>"></div>
    </div>
  <% } %>
  <div class="caption">
    <header>
      <% if (name.quechua) { %>
        <h3><%= toTitleCase(name.quechua.singular) %></h3>
      <% } %>
      <h1><%= toTitleCase(name.english.plural) %></i></h1>
    </header>
    <% for ( p in description ) { %>
      <p><%= description[p] %></p>
    <% } %>
  </div>
  <div class="clearfix"></div>
</header>
