<div class="container">
  <div class="images">
    <% if (typeof(images) === 'string') { %>
      <div class="img" data-src="/images/shop/<%=images%>.jpg"></div>
    <% } else { %>
      <div class="img" data-src="/images/shop/<%=_.first(images)%>.jpg"></div>
    <% } %>
  </div>
  <div class="info">
    <div class="close">&larr; Back to all items</div>
    <p class="title-category"><%= toTitleCase(category) %></p>
    <% if (typeof price === 'string' && price.indexOf('request') > -1) { %>
      <p class="price request">Price upon request</p>
    <% } else { %>
      <p class="price"><span>$</span><%= price %></p>
    <% } %>
    <table>
      <tr><td>Size</td><td><%= _.first(size) + ' inches' %></td></tr>
      <tr><td>Condition</td><td><%= toTitleCase(condition) %></td></tr>
      <tr><td>Material</td><td><%= toTitleCase(fiber) %></td></tr>
    </table>
  </div>
</div>