<footer id="site-footer">
  <h2>Contact Us</h2>
  <div class="email">
    <a href="mailto:info@willkayachay.org">info@willkayachay.org</a>
    <a href="http://eepurl.com/tZlTP">Join our Mailing List</a>
  </div>
  <div class="social">
    <a href="http://www.twitter.com/willkayachay" class="twitter" target="_blank">
      {% include twitter.svg %}
    </a>
    <a href="http://www.facebook.com/willkayachay" class="facebook" target="_blank">
      {% include facebook.svg %}
    </a>
    <a href="http://www.instagram.com/willkayachay" class="instagram" target="_blank">
      {% include instagram.svg %}
    </a>
  </div>

  <div class="copyright">
    <p>Willka Yachay is a 501(c)(3).</p>
    <p>&copy; 2014 Willka Yachay</p>
    <p>Photographs by Hannah Porst.</p>
    <p>Website by Jake Zien.</p>
  </div>
</footer>