<header id="site-header">
  <div id="site-logo"></div>
  <nav id="site-nav">
    <div id="menu-btn">
      <div></div>
      <div></div>
      <div></div>
    </div>
    <ul>
      <li><a href="/schools">Schools</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/qeros">Q&rsquo;eros</a></li>
      <li><a href="/expeditions">Expeditions</a></li>
      <li><a href="/shop">Shop</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </nav>
</header>