<footer id="site-footer">
  <div id="contact">
    <h3>Contact Us</h3>
    <a href="mailto:info@willkayachay.org">info@willkayachay.org</a>
    <a href="http://eepurl.com/tZlTP">Join Our Mailing List</a>
  </div>
  <div id="social">
    <a href="http://www.twitter.com/willkayachay" class="twitter" target="_blank"></a>
    <a href="http://www.facebook.com/willkayachay" class="facebook" target="_blank"></a>
    <a href="http://www.instagram.com/willkayachay" class="instagram" target="_blank"></a>
  </div>
  <div id="copyright">
    <p>Willka Yachay is a 501(c)(3).</p>
    <p>Photographs by Hannah Porst.</p>
    <p>Website designed and built by Jake Zien in NYC.</p>
    <p>&copy;2014 Willka Yachay</p>
  </div>
</footer>