.about
  
  background white
  
  Garamond()

  section
    clearfix()

  .team, .advisors, .expedition-team, .allies
    column(10)
    push(1)
    clearfix()

    li
      width 100%
        &:after
          content ''
          display block
          absolute100()
          background hotPink
          mix-blend-mode multiply
      
      h3
        font-weight normal
        margin .5em 0
      
      p:nth-child(3)
        font-style italic
        margin-top -.5em
        color clay

      div
        width 100%
        max-width 220px
        position relative
        background-size 100% 100%
        // background-color hotPink
        // background-blend-mode multiply
        transition background-color 0.33s ease
        &:hover
          background-color #fff
        &:before
          content ''
          display block
          padding-top 100%

  .allies 
    margin-bottom 15vh
    li p
      font-size 2.25em
      GaramondDisplay()

  h2
    column(12)
    font-weight 300
    position relative
    top 0.2em
    
  .keyline
    column(12)
    height 1px
    background-color brown
    margin-top 2.5em
    margin-bottom 2.5em

  #story .text
    column(10)
    push(1)
    clearfix()
    
  .col 
    p:first-child
      margin-top 0

  h3
    GaramondDisplay()
    font-size 5em
    line-height 1
    text-transform none
    letter-spacing -0.02em
    margin 1.5rem 0 1.25rem 0
    position relative
    left -0.2rem
    
  .cta
    .arrow-link-inner
      padding 1.5em 0 .5em 0
      &.hover h3
        color hotPink
    


@media only screen and (min-width: 768px) 
  .about
    .team, .advisors, .expedition-team, .allies
      margin-top 10em
      li
        column(3)
        min-height 300px
      h3
        min-height 3em
    .team li
      min-height 400px
    .allies li
      column(6)
      min-height 4em
      margin-top 1em
      &:nth-child(1), &:nth-child(2)
        margin-top 0
      p 
        margin 0
        width 90%
      

    #story .text
      .col
        column(6)