.blog, .post-page
  
  #top
    padding-top 0
    min-height 20vh

  .post
    Garamond()
    font-size 1.1em
    line-height 1.45
    padding-left 1.5em
    padding-right 1.5em
    margin-bottom 10em
    clearfix()

    &:last-of-type
      margin-bottom 20em

    h1, h2, h3, p
      max-width: 640px
      margin-left auto
      margin-right auto
      overflow hidden
    h1
      margin-bottom 0.1em
      // font-weight 300
      a
        text-decoration none
        color crimson
    h3
      color clay
      font-weight normal
    p
      Smooth();
      margin-bottom 1em

.post-page
  padding-top 20vh

@media only screen and (min-width: 480px) and (max-width: 767px) 
  .blog, .post-page
    .post
      font-size 1.1em


@media only screen and (min-width: 768px)
  .blog, .post-page
    .post
      font-size 1.25em
      line-height 1.5
      padding-left 0
      padding-right 0

      h1, h2, h3, p
        max-width: 700px