html.cssfilters 
  body.donate-show
    #content
      filter blur(24px)
      -webkit-filter blur(24px)
    #donate.show
      background rgba(250,250,255,0.55)
    
body.donate-show
  .donate-btn a
    color hotPink
  #scrollNagger
    opacity 0

#donate
  absolute100()
  backface-visibility hidden
  position fixed
  z-index 3
  display none
  Garamond()
  transition background-color 1s ease-in

  &.block
    display block

  &.show
    background rgba(250,250,255,0.9)
    transition background-color 1s ease-out

    .text
      opacity 1
      transition opacity 1s ease-out
    .border
      border-width 20px
    .hide-btn
      opacity 1
      transition opacity 0.5s ease 0.5s, background-color 0.15s ease

  .text
    absolute100()
    position relative
    margin-bottom 4em
    color dkBrown
    transition opacity 1s ease
    column(10)
    push(1)
    padding-top 8em 
    overflow scroll
    overflow-scrolling touch

    h2
      clear both
      Franklin()
      font-size 3.25em
      letter-spacing 0.075em
      margin-top .5em
      text-transform uppercase
      
    p
      clear both
    
    .title
      column(12)
      display block
      color brown
      margin 1em 0 3em 0
      padding 0
      position relative
      cursor pointer
      overflow visible
      svg *
        stroke brown
        transition stroke 0.3s ease

      &:hover
        .hover
          min-width 100%
        .arrow-wrap
          transform translateX(16px)
          transition transform 0.3s ease-out 0.1s
        svg *
          stroke hotPink
           
    .title-inner
      border-top 2px solid brown
      border-bottom 2px solid brown
      h2
        GaramondDisplay()
        font-weight 300
        font-size 10em
        line-height 1
        text-transform none
        letter-spacing -0.04em
        margin 3rem 0 2.5rem 0
        position relative
        left -0.4rem
      &.hover
        absolute100()
        width 0
        min-width 0%
        height auto
        border-top-color hotPink
        border-bottom-color hotPink
        color hotPink
        transition min-width 0.35s ease-in-out
        overflow hidden
 
    .arrow-wrap
      position absolute
      right 0
      width 64px
      top 50%
      margin-top -10px
      transition transform 0.3s ease

    .callout
      GaramondDisplay()
      letter-spacing 0.01em
      font-size 2em


  .multiply
    absolute100()
    background hotPink
    mix-blend-mode multiply

  .border
    absolute100()
    box-sizing border-box
    border 0px solid white
    transition border-width 1s ease

  .keyline
    column(12)
    margin 1em 0
    height 2px
    background cloud

  .mail
    clearfix()
    color clay
    margin-bottom 4em
    a
      color brown
      transition color 0.1s
      &:hover
        color hotPink
    p
      font-size 1.1em

  .text
    box-sizing border-box
    opacity 0
    transition opacity 0.5s ease-in

  .hide-btn
    position absolute
    top 0
    left 0
    width 60px
    height 60px
    opacity 0
    transition opacity 0.5s ease, background-color 0.15s ease
    svg
      width 28px
      height 28px
      position relative
      left 25%
      top 25%
      *
        fill clay
        transition fill 0.15s ease
    &:hover 
      svg
        *
          fill hotPink


@media only screen and (min-width: 768px)

  #donate

    .text
      column(8)
      push(2)
      
      .details 
        row()
        div
          column(6)
          
      .stats p
        margin-top .5em
        margin-bottom 0
        font-size 1.25rem

      .callout
        font-size 2.5em
        margin 0

    .hide-btn
      top 72px
      cursor pointer
    
    .mail
      clear both
      row()
      color clay
      p
        column(6)
        margin-top 4em
        clear none