.expeditions

  section
    width 100%
    padding-top 4em
    padding-bottom 4em
    clearfix()
    h2 
      padding 0 1rem
      font-size 2em
      font-weight 400
      line-height 1em
      Franklin()
      text-transform uppercase
      font-weight bold
      letter-spacing 0.06em
    p
      padding 0 1rem
      Garamond()
      font-size 1.5em

  #top
    background-image url('/images/expeditions-top@2x.jpg')
    background-size cover
    height 525px
    background-position center center
    color #fff
    h1
      GaramondDisplay()
      font-size 6.5em
      font-weight normal
      text-align center
      margin .5em 0 .25em 0
    p
      Garamond()
      font-size 1.5em
      text-align center
      column(8)
      push(2)


  #intro
    span
      column(8)
    .dropcap
      column(3)
      font-size 11em
      line-height 0.66em
      padding-bottom 0.1em
      Franklin()
      max-width .3em

  #activities
    div
      margin-bottom 4em

  #proceeds
    padding-top 0
    padding-bottom 8em


@media only screen and (min-width: 768px)
  .expeditions
    section
      h2
        padding 0
      p
        padding 0
        
    #top
      h1
        font-size 10em

    #intro 
      p
        column(5)
        &:first-child
          push(1)

    #activities
      div
        margin-bottom 0
        column(3.33)
        &:first-child
          push(1)

    #proceeds
      p
        column(10)
        push(1)