.expeditions

  section
    width 100%
    padding-top 4em
    padding-bottom 4em
    clearfix()
    background-color white
    h2 
      padding 0 1rem
      font-size 2em
      font-weight 400
      line-height 1em
      Franklin()
      text-transform uppercase
      font-weight bold
      letter-spacing 0.06em
    p
      padding 0 1rem
      Garamond()
      font-size 1.5em

  #top
    position relative
    overflow hidden
    height 100vh
    padding 0
    background-position center center
    color #fff
    .bg
      absolute100()
      .sky
        absolute100()
        background-size cover
        background-position center center
      .bottom
        position absolute
        width 100%
        height auto
        bottom 0
        font-size 0
        line-height 0

      .mountains, .tents
        position relative
        z-index 1
        img
          width 100%
          height auto
    h1
      position relative
      z-index 0

    p
      Garamond()
      font-size 1.5em
      text-align center
      column(8)
      push(2)
      position relative
      z-index 2


  #intro
    span
      column(8)
    .dropcap
      column(3)
      font-size 11em
      line-height 0.66em
      padding-bottom 0.1em
      Franklin()
      max-width .3em

  #activities
    div
      margin-bottom 4em

  #proceeds
    padding-top 0
    padding-bottom 8em
    
  #form
    padding-bottom 10em
    .wrapper
      column(10)
      push(1)
      overflow visible

@media only screen and (min-width: 768px)
  .expeditions
    section
      h2
        padding 0
      p
        padding 0
        
    #top
      h1
        font-size 9em

    #intro 
      p
        column(5)
        &:first-child
          push(1)

    #activities
      div
        margin-bottom 0
        column(3.33)
        &:first-child
          push(1)
          
    #form
      .wrapper
        column(8)
        push(2)
        overflow visible