.home

  #top
    margin-top 60px
    background hotPink
    color #fff
    h1
      FreightBig()
      font-size 6.5em
      font-weight normal
      text-align center
      margin .5em 0 .25em 0
    p
      Freight()
      text-align center
      font-size 2em