#item-page
  absolute100()
  background white
  display none
  box-sizing border-box
  padding 6em 0
  &.show
    display block
    position fixed
  .img
    height 100%
    column(5.5) 
    push(.5)
    background-size contain
  .info
    column(4)
  .close
    width 4rem
    height 4rem
    background clay