Genath()
  font-family "Genath-Regular", "Baskerville", "Georgia", "Times", serif
  font-weight 400
  -moz-font-feature-settings:"onum" 1, "kern" 1; 
  -moz-font-feature-settings:"onum=1 kern=1"; 
  -ms-font-feature-settings:"onum" 1, "kern" 1; 
  -o-font-feature-settings:"onum" 1, "kern" 1; 
  -webkit-font-feature-settings:"onum" 1, "kern" 1; 
  font-feature-settings:"onum" 1, "kern" 1;
  -moz-font-variant-numeric: oldstyle-nums;
  -ms-font-variant-numeric: oldstyle-nums;
  -o-font-variant-numeric: oldstyle-nums;
  -webkit-font-variant-numeric: oldstyle-nums;
  font-variant-numeric: oldstyle-nums;
  Kern()
  Smooth()

SmallCaps()
  text-transform lowercase
  -moz-font-feature-settings:"onum" 1, "kern" 1, "smcp" 1; 
  -moz-font-feature-settings:"onum=1 kern=1 smcp=1"; 
  -ms-font-feature-settings:"onum" 1, "kern" 1, "smcp" 1; 
  -o-font-feature-settings:"onum" 1, "kern" 1, "smcp" 1; 
  -webkit-font-feature-settings:"onum" 1, "kern" 1, "smcp" 1; 
  font-feature-settings:"onum" 1, "kern" 1, "smcp" 1; 

NoLiga()
  font-feature-settings "liga" 0

Kern()
  text-rendering optimizeLegibility
  font-feature-settings "kern" 1

KernNoLiga()
  text-rendering optimizeLegibility
  font-feature-settings "kern" 1, "liga" 0

Smooth()
  font-smoothing antialiased
  -moz-osx-font-smoothing grayscale