FreightBig()
  font-family "freight-big-pro", "Caslon", "Georgia", "Times", serif
  Kern()
  Smooth()

FreightBigBold()
  font-family "freight-big-pro", "Caslon", "Georgia", "Times", serif
  font-weight bold
  Kern()
  Smooth()

Freight()
  font-family "freight-text-pro", "Caslon", "Georgia", "Times", serif
  Kern()

FreightBold()
  font-family "freight-text-pro", "Caslon", "Georgia", "Times", serif
  font-weight bold
  Kern()

League()
  font-family "league-gothic", "Helvetica Neue", "Helvetica", sans-serif
  font-weight normal
  Kern()

Alternate()
  font-family "alternate-gothic-no-1-d", "Helvetica Neue", "Helvetica", sans-serif
  font-weight normal
  Kern()

Franklin()
  font-family "franklin-gothic-ext-comp-urw", "Helvetica Neue", "Helvetica", sans-serif
  font-weight 400
  Kern()

FranklinBold()
  font-family "franklin-gothic-ext-comp-urw", "Helvetica Neue", "Helvetica", sans-serif
  font-weight 700
  Kern()


SmallCaps()
  text-transform lowercase
  -moz-font-feature-settings:"onum" 1, "kern" 1, "smcp" 1; 
  -moz-font-feature-settings:"onum=1 kern=1 smcp=1"; 
  -ms-font-feature-settings:"onum" 1, "kern" 1, "smcp" 1; 
  -o-font-feature-settings:"onum" 1, "kern" 1, "smcp" 1; 
  -webkit-font-feature-settings:"onum" 1, "kern" 1, "smcp" 1; 
  font-feature-settings:"onum" 1, "kern" 1, "smcp" 1; 

NoLiga()
  font-feature-settings "liga" 0

Kern()
  text-rendering optimizeLegibility
  font-feature-settings "kern" 1

KernNoLiga()
  text-rendering optimizeLegibility
  font-feature-settings "kern" 1, "liga" 0

Smooth()
  font-smoothing antialiased
  -moz-osx-font-smoothing grayscale