.projects

  .bg
    absolute100()
    position fixed

    .bg-imgs
      absolute100()

      div
        absolute100()
        opacity 0
        background #fff

      video
        pointer-events none
        absolute100P{}
        width auto
        height auto
        min-width 100%
        min-height 110%
        overflow hidden
        transform translateX(-50%)
        margin-left 50%
        z-index 0
        background #fff

        
    .border
      absolute100()



  section
    color brown
    width 100%
    height 100vh
    clearfix()

    p
      Garamond()
      font-size 1.66em
      i
        font-style italic

    .photo
      display none

    .text
      position relative
      z-index 1


  #top 
    background url('/images/string.jpg')
    background-size auto 50%
    background-position center center
    background-repeat no-repeat

  #schools
    position relative
    .bg
      width 100%
      height 400px
      background-image url('/images/projects/schools@2x.jpg')
      background-color #F22E60
      background-blend-mode multiply
      background-size cover
    .text
      color #000
    .cta
      FranklinBold()
      margin-top 1.5em
      font-size 1.5em
      text-transform uppercase
      letter-spacing 0.06em
      color #fff
      text-decoration none
    .gradient
      position absolute
      top 0
      left 0
      width 100%
      height 100%
      // background linear-gradient(top, #fff, rgba(255,255,255,0));

  #energy, #food, #cultural
    color #fff

// Tablet portrait and above
@media only screen and (min-width: 768px)
  .projects
    section
      padding-top 5em
      padding-bottom 5em
      h2
        padding 0
      .text
        column(4)
        push(1)
      .photo
        column(5)
        push(1)
        margin-bottom none

    #top
      min-height 525px
      padding-top 2em
      h1
        font-size 10em
      p
        font-size 2.5em
        column(8)
        push(2)

    #schools
      min-height 525px
      .bg
        position absolute
        top 0
        left 0
        height 100%
      .text
        position relative
        color #fff
        push(7)

    #energy
      padding-top 8em
        
      

    


