.projects

  .bg
    absolute100()

    .bg-imgs
      absolute100()

    .border
      absolute100()

  section
    color brown
    width 100%
    clearfix()
    padding-top 2em
    padding-bottom 2em
    .photo
      position relative
      height 420px
      width 100%
      margin-bottom 2em
      &.zoom
        div
          transition transform 0.5s ease
      div
        background-size cover
        background-position center center
        absolute100()

    h2 
      FranklinBold()
      font-size 2em
      line-height 1em
      text-transform uppercase
      letter-spacing 0.1em
      padding 0 1rem
    p
      font-size 1.5rem
      Garamond()
      padding 0 1rem


  #top 
    background url('/images/string.jpg')
    background-size auto 75%
    background-position center center
    background-repeat no-repeat

  #schools
    position relative
    .bg
      width 100%
      height 400px
      background-image url('/images/projects/schools@2x.jpg')
      background-color #F22E60
      background-blend-mode multiply
      background-size cover
    .text
      color #000
    .cta
      FranklinBold()
      margin-top 1.5em
      font-size 1.5em
      text-transform uppercase
      letter-spacing 0.06em
      color #fff
      text-decoration none
    .gradient
      position absolute
      top 0
      left 0
      width 100%
      height 100%
      // background linear-gradient(top, #fff, rgba(255,255,255,0));

  #energy .photo div
      background-image url('/images/projects/energy@2x.jpg')

  #music .photo div
      background-image url('/images/projects/music@2x.jpg')

  #medicine .photo div
      background-image url('/images/projects/medicine.jpg')

  #weaving .photo div
      background-image url('/images/projects/weaving@2x.jpg')

  #food .photo div
      background-image url('/images/projects/food@2x.jpg')

  #math .photo div
      background-image url('/images/projects/math@2x.jpg')

// Tablet portrait and above
@media only screen and (min-width: 768px)
  .projects
    section
      padding-top 5em
      padding-bottom 5em
      h2
        padding 0
      p
        padding 0
        font-size 1.25rem
      .text
        column(4)
        push(1)
      .photo
        column(5)
        push(1)
        margin-bottom none

    #top
      min-height 525px
      padding-top 2em
      h1
        font-size 10em
      p
        font-size 2.5em
        column(8)
        push(2)

    #schools
      min-height 525px
      .bg
        position absolute
        top 0
        left 0
        height 100%
      .text
        position relative
        color #fff
        push(7)

    #energy
      padding-top 8em
        
      

    


