.projects    
  &.fallback
    section 
      color brown
      .keyline
        background brown
        height 1px
        margin-top 1.5em
        margin-bottom 1.75em
      .text
        padding 3em 0

  .bg
    absolute100()
    position fixed
    z-index 0
    background-color white

    .multiply
      background hotPink
      mix-blend-mode multiply

    .bg-imgs
      absolute100()
      
      div
        absolute100()
        opacity 0
        background white
        background-size cover
        background-position center center
        backface-visibility hidden

        &.bg-gradient
          opacity 0
          background -webkit-gradient(radial, 100% 0%, 0, 100% 0%, 255, color-stop(0%, rgba(27, 21, 21, 0)), color-stop(100%, rgba(27, 21, 21, 0.5)))
          background -webkit-radial-gradient(right top, farthest-corner, rgba(27, 21, 21, 0) 0%, rgba(27, 21, 21, 0.5) 100%)
          background -moz-radial-gradient(right top, farthest-corner, rgba(27, 21, 21, 0) 0%, rgba(27, 21, 21, 0.5) 100%)
          background -ms-radial-gradient(right top, farthest-corner, rgba(27, 21, 21, 0) 0%, rgba(27, 21, 21, 0.5) 100%)
          background -o-radial-gradient(right top, farthest-corner, rgba(27, 21, 21, 0) 0%, rgba(27, 21, 21, 0.5) 100%)
          background radial-gradient(farthest-corner at right top, rgba(27, 21, 21, 0) 0%, rgba(27, 21, 21, 0.5) 100%)


      video
        pointer-events none
        absolute100()
        width auto
        height auto
        min-width 100%
        min-height 100%
        overflow hidden
        transform translateX(-50%)
        margin-left 50%
        z-index 0
        background white
        
    .border
      absolute100()

  section
    color white
    width 100%
    min-height 100vh
    box-sizing border-box
    position relative
    clearfix()
    z-index 1   

    h2
      font-smoothing antialiased

    p
      Garamond()
      font-size 1.3em
      i
        font-style italic

    .text
      column(10)
      push(1)
      position relative
      z-index 1
      backface-visibility hidden

    .no-video
      height 85vh
      background-size cover
      background-position center center

    .cta
      display block
      text-decoration none
      padding-bottom .5em
      position relative
      color cloud

      &:hover
        p
          color hotPink !important
          transform translateX(0.25em)
        .line
          min-height 100%

      p
        GaramondDisplay()
        font-size 3.5em
        line-height 1
        font-weight 300 !important
        margin 0 !important
        padding 0.714em 0 0.5em 0
        position relative
        z-index 1
        transition transform 0.4s ease, color 0.25s ease !important

      .line
        height 0
        min-height 2px
        background cloud
        width 100%
        overflow hidden
        transition min-height 0.2s ease 0.1s
        position absolute
        bottom 0

  #cta
      min-height 20vh
      background cloud
      
  #top 
    background url('/images/projects/string@2x.png')
    background-size auto 45%
    background-position center center
    background-repeat no-repeat
    min-height 100vh
    color brown
    p
      column(10)
      push(1)

  // #energy, #food, #cultural, #music
  //   margin-top 20vh

  #schools
    .keyline
      margin-bottom 0
    .col
      p
        margin-top 2em
        
  #medicine .no-video
    background-position 85% center

  #music .no-video
    background-position 75% center


// Tablet portrait and above
@media only screen and (min-width: 768px)
  .projects
    &.fallback
      section 
        .text, .col-wrap
          position initial
        .scrim 
          display none
        .no-video
          height 100vh
        p, h2
          color brown
        .col-wrap .keyline
          margin-top 1.5em
          margin-bottom 0.5em

      

    &.scrolling
      pointer-events none
    
    section
      .text
        color white
        column(10)
        push(1)
        overflow visible
        position absolute
        height 100%
        box-sizing border-box
        padding 5em 0 4em 0
        p
          transition color 0.25s ease
        h2
          column(12)
          font-size 3.75em
          letter-spacing 0.12em

      .col-wrap
        column(8)
        position absolute
        overflow visible
        bottom 0
        left 0
        padding-bottom 4em

        .keyline
          column(12)
          margin-bottom 1em
        
        &:hover
          p
            color brown
          .cta .line
            background brown
          .scrim 
            opacity 1


      .col
        column(6)
        clearfix()
        position relative

      .keyline
        background cloud
        height 2px
        transition background 0.25s ease
        clearfix()

      .scrim
        // display none
        position absolute
        width 100%
        height 88%
        padding 0 1em
        left -1em
        top -2px
        background cloud
        opacity 0
        transition opacity 0.25s ease


    #top
      h1
        font-size 10em
        letter-spacing -0.01em
      p
        font-size 2.5em
        column(8)
        push(2)
      

    #schools
      .col-wrap
        column(12)
        overflow visible
      .col
        column(4)