.qeros
  
  background white

  .bg
    absolute100()
    position fixed
    .frame-img
      height 100%
    .offering, .where
      opacity 0
    video
      pointer-events none
      absolute100()
      width auto
      height auto
      min-width 100%
      min-height 100%
      overflow hidden
      transform translateX(-50%)
      margin-left 50%
      z-index 0
      background white

  .frame-img
    column(12)
    margin 0
    width 100%
    height 80vh
    position relative
    z-index 1
    left 0
    div
      width 100%
    &.zoom
      div
        transition transform 0.5s ease

    &.move-h
      div
        width 125%
        height 100%
        background-size 100% auto

    &.move-v
      div
        width 100%
        height 120%
        background-size auto 100% 


    div
      position absolute
      height 110%
      background-size auto 100% 
      background-position center center
      backface-visibility hidden


  .multiply 
    mix-blend-mode multiply
    overflow visible
    backface-visibility hidden
    div
      backface-visibility hidden
      position absolute
      background hotPink
      width 100%

  .border
    position absolute
    top 2vh
    width 100%
    height 100vh
    box-sizing border-box
    border 40px solid white
    border-width 2vw 2.5vw

  section
    width 100%
    position relative
    z-index 0
    min-height 75vh
    overflow hidden

    p
      Garamond()
      font-size 1.66em
      color brown
      i
        font-style italic

    h1, h2
      position relative

    .bg
      position absolute
      top 0 
      left 0
      width 100%
      height 100%
      overflow hidden
      .img
        position absolute
        top 0 
        left 0
        width 100%
        height 100%
        background-position center center
        background-size cover
      video
        pointer-events none
        position fixed
        top 0
        bottom 0 
        left 0
        min-width 100%
        min-height 105%
        width auto
        height auto
        overflow hidden
        transform translateX(-50%)
        margin-left 50%
        z-index 0
        background white
      .border
        absolute100()
        height 100vh
        box-sizing border-box
        border 20px solid white
        position fixed
      .gradient-top, .gradient-bottom
        position absolute
        left 0
        width 100%
        background-size 100% 100%
        background-repeat repeat-x
      .gradient-top
        top 0
        height 30vh
        background-image url('/images/gradient-top.png')
      .gradient-bottom
        bottom 0
        height 75vh
        background-image url('/images/gradient-bottom.png')

    .caption
      position relative
      background white
      padding 2em 2em 4em 2em
      p
        margin 0
      .dropcap
        font-size 11em
        line-height 0.66em
        Franklin()
        max-width .3em
        padding-bottom 0.1em
      .keyline
        column(12)
        height 1px
        background brown
        margin 0 0 2em 0

    &.video 
      height 160vh
      z-index 0
      display table
      .bg
        .multiply
          height 100vh
          div
            width 100%
            height 100%
            border 150px solid white
            box-sizing border-box
      .big-text
        background transparent
        div
          column(8)
          push(2)
        h2
          color white
          letter-spacing .15em
          font-size 3em
          line-height 0.9
        p
          font-size 3em
          position relative
          color white
          padding-bottom 1em
          border-bottom 2px solid
        .keyline
          background white
          margin 3em 0
          height 3px
  
  .where.video
    font-size 0.833em
    .big-text h2
      color white
      font-size 2.5em
      letter-spacing 0.1em
      margin-bottom 1em

  #top
    color #fff
    min-height 100vh
    z-index 0
    h1
      margin-top 0
      letter-spacing -0.015em
      

  .string
    backface-visibility hidden
    width 100%
    height 1762px
    position absolute
    top 115vh
    pointer-events none
    .container
      absolute100()
      overflow hidden
      div
        margin-left 10.5vw
        position absolute
        background-size auto 100%
        background-repeat no-repeat

        &:nth-child(1)
          background-image url('/images/qeros/string1@2x.png')
          width 689px
          height 738px
          top 0
          right 376px

        &:nth-child(2)
          background-image url('/images/qeros/string2@2x.png')
          width 487px
          height 1025px
          top 738px
          right 0

  #intro
    padding-top 10%
    .frame-img
      margin-top 20%
    .caption
      span 
        column(8)
      .dropcap
        column(3) 
      *
        opacity 1 !important

  #skywalk
    .frame-img
      div
        background-size auto 100% !important
        background-position bottom left

      
  #love
    padding-top 15vh
    .frame-img
      div
        width 120%
        left -10%

  #end
    margin-bottom 10vh


@media only screen and (min-width: 768px) 
  .qeros
    section
      .frame-img
        position absolute
        height auto
        z-index -1
      .caption
        column(3)

    #intro
      padding-top 20%
      .frame-img
        column(6)
        push(1)
        height 55%
        left 0
        margin-top 0

      .caption
        margin-top 25%
        column(4)
        push(6)
        padding-left 2em
        margin-bottom 50%
        span 
          column(8)
        .dropcap
          column(3) 

    #skywalk
      .frame-img
        column(7)
        push(4)
        height 80%        
      .caption
        background transparent
        padding 0
        column(2.5)
        push(1)
        margin-bottom 20%

    #ayni
      .frame-img
        column(8)
        push(3)
        height 130%
      .caption
        push(1)
        padding-left 0
        margin-bottom 20%

      &.post-video
        overflow visible
        .frame-img
          top -18vh
          &:after
            content ''
            width 100%
            height 15vh
            position absolute
            bottom -15vh
            background white

    #love
      padding-top 25vh
      padding-bottom 40vh
      .frame-img
        column(8)
        push(1)
        height 70%
      .caption
        top -15%
        push(8)

    #travel
      padding-top 20vh
      margin-bottom 10vh
      .frame-img
        column(10)
        push(1)
        height 80%
      .caption
        push(1)
        top -15vh
        margin-bottom 50%
        padding-left 0
        padding-top 0

    #llamas
      padding-top 40vh
      .frame-img
        column(7)
        push(1)
        height 60%

      .caption
        push(8)
        padding-top 0
        top -15vh

    #end
      padding-top 30vh
      .frame-img
        column(10)
        push(1)
        height 75%

      .caption
        push(1)
        margin-bottom 50%
        padding-left 0
