.qeros

  .multiply 
    mix-blend-mode multiply
    overflow visible
    backface-visibility hidden
    div
      backface-visibility hidden
      position absolute
      background hotPink
      width 100%

  .border
    position absolute
    top 2vh
    width 100%
    height 100vh
    box-sizing border-box
    border 40px solid #fff
    border-width 2vw 2.5vw

  section
    width 100%
    position relative
    z-index 0
    min-height 75vh
    overflow hidden
    background #fff


    p
      Garamond()
      font-size 1.66em
      color brown
      i
        font-style italic

    h1, h2
      position relative

    .bg
      position absolute
      top 0 
      left 0
      width 100%
      height 100%
      overflow hidden
      .img
        position absolute
        top 0 
        left 0
        width 100%
        height 100%
        background-position center center
        background-size cover
      video
        pointer-events none
        position fixed
        top 0 
        left 0
        min-width 100%
        min-height 110%
        width auto
        height auto
        overflow hidden
        transform translateX(-50%)
        margin-left 50%
        z-index 0
      .gradient-top, .gradient-bottom
        position absolute
        left 0
        width 100%
        background-size 100% 100%
        background-repeat repeat-x
      .gradient-top
        top 0
        height 30vh
        background-image url('/images/gradient-top.png')
      .gradient-bottom
        bottom 0
        height 75vh
        background-image url('/images/gradient-bottom.png')

    .frame-img
      position absolute
      &.move-h
        div
          width 125%
          height 100%
          background-size 100% auto
      &.move-v
        div
          width 100%
          height 120%
          background-size auto 100% 

      div
        position absolute
        height 110%
        background-size auto 100% 
        background-position center center
        backface-visibility hidden

    .caption
      column(3)
      position relative
      background #fff
      padding 2em 2em 4em 2em
      p
        margin 0
      .dropcap
        font-size 11em
        line-height 0.66em
        Franklin()
      .keyline
        width 100%
        height 1px
        background brown
        margin 0 0 2em 0

    &.video 
      height 180vh
      .bg
        .multiply
          height 100vh
          div
            width 100%
            height 100%
            border 150px solid white
            box-sizing border-box
      .caption
        background transparent
        column(8)
        push(2)
        top -10vh
        p
          font-size 3em
          position relative
        .keyline
          background #fff
          margin 3em 0
          height 3px

  #top
    color #fff
    min-height 100vh
    .bg .img
      position fixed
      background-image url('/images/qeros-cover@2x.jpg')

  .string
    backface-visibility hidden
    width 100%
    height 1762px
    position absolute
    top 115vh
    .container
      absolute100()
      overflow hidden
      div
        margin-left 10.5vw
        position absolute
        background-size auto 100%
        background-repeat no-repeat

        &:nth-child(1)
          background-image url('/images/qeros-string1@2x.png')
          width 689px
          height 738px
          top 0
          right 376px

        &:nth-child(2)
          background-image url('/images/qeros-string2@2x.png')
          width 487px
          height 1025px
          top 738px
          right 0



  .s-1
    padding-top 20%
    .frame-img
      column(6)
      push(1)
      height 55%
      div
        background-image url('/images/qeros-sonia@2x.jpg')
    .caption
      margin-top 25%
      column(4)
      push(6)
      padding-left 2em
      margin-bottom 50%
      span 
        column(8)
      .dropcap
        column(3)
      *
        opacity 1 !important

  .s-2
    .frame-img
      column(7)
      push(4)
      height 80%
      div
        background-image url('/images/qeros-skywalk@2x.jpg')
        background-size auto 100% !important
        background-position bottom left
    .caption
      padding 0
      column(2.5)
      push(1)
      margin-bottom 20%

  .s-3
    .frame-img
      column(7)
      push(1)
      margin-top 18.75%
      height 70%
      div
        background-image url('/images/qeros-ritual@2x.jpg')
        background-position 66% bottom
    .caption
      padding-top 0
      column(3)
      push(8)

  .s-4
    .frame-img
      column(8)
      push(3)
      height 130%      
      overflow visible
      div
        background-image url('/images/qeros-three-men@2x.jpg')
    .caption
      push(1)
      padding-left 0
      margin-bottom 50%
    &.post-video
      overflow visible
      .frame-img
        top -18vh
        &:after
          content ''
          width 100%
          height 15vh
          position absolute
          bottom -15vh
          background #fff
      
  
  .s-5
    padding-top 15vh
    .frame-img
      column(8)
      push(1)
      height 90%
      div
        width 120%
        left -10%
        background-image url('/images/qeros-sebastian@2x.jpg')
    .caption
      push(8)

  .s-6
    padding-top 40vh
    .frame-img
      column(10)
      push(1)
      height 80%
      div
        background-image url('/images/qeros-valley@2x.jpg')
    .caption
      push(1)
      top -15vh
      margin-bottom 50%
      padding-left 0
      padding-top 0


  .s-7
    padding-top 40vh
    .frame-img
      column(7)
      push(1)
      height 60%
      div
        background-image url('/images/qeros-llamas@2x.jpg')
    .caption
      push(8)
      padding-top 0
      top -15vh
      
  .s-8
    padding-top 20vh
    margin-bottom 30vh
    .frame-img
      column(10)
      push(1)
      height 75%
      div
        background-image url('/images/qeros-silhouette@2x.jpg')
    .caption
      push(1)
      margin-bottom 50%
      padding-left 0



@keyframes pull-left
  0%
    transform translateX(0%)
  100%
    transform translateX(-100%)

@keyframes pull-right
  0%
    transform translateX(0%)
  100%
    transform translateX(100%)