.schools

  section
    color #302624
    width 100%
    min-height 75vh
    overflow hidden
    position relative
    clearfix()

    &.cta
      min-height 25vh

    p
      Garamond()
      font-size 1.25em
      i
        font-style italic
    
    .frame-img
      column(12)
      margin 0
      width 100%
      height 80vh
      position relative
      z-index 1
      left 0
      &.zoom
        div
          transition transform 0.5s ease

      &.move-h
        div
          width 125%
          height 100%
          background-size 100% auto

      &.move-v
        div
          width 100%
          height 120%
          background-size auto 100% 

      div
        position absolute
        height 110%
        background-size auto 100% 
        background-position center center
        backface-visibility hidden
        transition opacity .25s ease-out
        &.loading
          opacity 0
    
    .caption
      position relative
      background #fff
      padding 2em 2em 4em 2em
      p
        margin 0
      .dropcap
        font-size 11em
        line-height 0.66em
        Franklin()
        max-width .3em
        padding-bottom 0.1em
      .keyline
        column(12)
        height 1px
        background brown
        margin 0 0 2em 0

  #top 
    color #fff
    min-height 100vh
    .bg, .img
      absolute100()
      backface-visibility hidden
    .img
      // background url('/images/schools/top@2x.jpg')
      background-size cover
      background-position center center
      background-repeat no-repeat
      
  .preschool
    .frame-img div
      background-position center bottom


  


@media only screen and (min-width: 768px)
  .schools
    section
      padding-top 5em
      padding-bottom 5em
      .frame-img
        position absolute
        height auto
        z-index -1
      .caption
        column(3)

    #top h1
        margin-bottom 1em

    .s-1
      padding-top 15vh
      .frame-img
        column(7)
        push(4)
        height 70%        
      .caption
        padding 0
        column(2.5)
        push(1)
        margin-bottom 20%
    
    .s-2
      padding-top 15vh
      .frame-img
        column(7)
        push(1)
        height 60%        
      .caption
        push(8)
        padding-top 0
        margin-bottom 20%

    .s-3
      padding-top 15vh
      .frame-img
        column(7)
        push(4)
        height 70%        
      .caption
        padding 0
        column(2.5)
        push(1)
        margin-bottom 20%
    
    .s-4
      padding-top 15vh
      .frame-img
        column(7)
        push(1)
        height 60%        
      .caption
        push(8)
        padding-top 0
        margin-bottom 20%

    .preschool
      padding-top 15vh
      .frame-img
        column(7)
        push(4)
        height 70% 
      .caption
        padding 0
        column(2.5)
        push(1)
        margin-bottom 20%
    
    .high-school
      padding-top 15vh
      .frame-img
        column(7)
        push(1)
        height 60%        
      .caption
        push(8)
        padding-top 0
        margin-bottom 20%

    .math
      padding-top 15vh
      .frame-img
        column(7)
        push(4)
        height 70%        
      .caption
        padding 0
        column(2.5)
        push(1)
        margin-bottom 20%