.shop

  padding-top 6em

  #top 
    position relative
    min-height 100vh
    overflow hidden

    .bg
      overflow hidden
      absolute100()
      
    .weaving
      width 180px
      height 225px
      width 15vw
      height 20vw
      background-size contain
      position absolute
      &.bag
        background-image url('/images/shop/weaving-0@2x.jpg')
        width 25vw
        height 25vw
        top 50vh
        left 15vw
      &.scarf
        background-image url('/images/shop/weaving-6@2x.jpg')
        height 35vw
        width 30vw
        top 15vh
        left 65vw
      &.rainbow
        background-image url('/images/shop/weaving-4@2x.jpg')
        width 19vw
        top 10vh
        left 5vw
      &.tonal
        background-image url('/images/shop/weaving-5@2x.jpg')
        width 18vw
        height 20vw
        right -10vw
        top 8vh
      &.brown
        // background-image url('/images/shop/weaving-1@2x.jpg')
        top -5vh
        left 70vw
        width 20vw
      &.red
        background-image url('/images/shop/weaving-2@2x.jpg')
        bottom -2vh
        left -6vw
        width 20vw
      &.brown-1
        background-image url('/images/shop/weaving-3@2x.jpg')
        width 20vw
        height 20vw
        top 70vh
        right 5vw
        z-index 1

  #items
    max-width 1200px
    margin 0 auto
    clearfix()
    
    
  .shop-item
    column(10)
    push(1)
    min-height 300px
    box-sizing border-box
    padding-top 1rem
    > a
      display block
      height 100%
    .img
      height 240px
      background-size cover
      background-repeat no-repeat
      background-position center center
      transition opacity 0.5s ease-out 0.5s
      &.loading
        opacity 0
        transition none
    .info
      padding-top 1em
      height 1em
      overflow hidden
    
      
  .pagination
    .page-prev, .page-next
      display inline-block
      width 2em
      height 2em
      cursor pointer
    


@media only screen and (min-width: 640px)
  .shop .shop-item
    column(4)

@media only screen and (min-width: 768px)
  .shop .shop-item
    column(3)

@media only screen and (min-width: 1000px)
  .shop .shop-item
    column(2.4)

@media only screen and (min-width: 1200px)
  .shop .shop-item
    column(2)