.shop

  #top 
    position relative
    min-height 100vh
    overflow hidden

    .bg
      overflow hidden
      absolute100()
      
    .weaving
      width 180px
      height 225px
      width 15vw
      height 20vw
      background-size contain
      position absolute
      &:nth-child(1)
        // background-image url('/images/shop/weaving-0@2x.jpg')
        top 10vh
        left 80vw
      &:nth-child(2)
        background-image url('/images/shop/weaving-1@2x.jpg')
        top 30vh
        left 40vw
      &:nth-child(3)
        background-image url('/images/shop/weaving-2@2x.jpg')
        top 8vh
        left -5vw
      &:nth-child(4)
        background-image url('/images/shop/weaving-3@2x.jpg')
        top 20vh
        right -2vw
      &:nth-child(5)
        background-image url('/images/shop/weaving-4@2x.jpg')
        width 200px
        top 50vh
        left 50vw
      &:nth-child(6)
        background-image url('/images/shop/weaving-5@2x.jpg')
        top 80vh
        left 80vw
      &:nth-child(7)
        background-image url('/images/shop/weaving-6@2x.jpg')
        height 330px
        width 280px
        top 20vh
        left 25vw


