total-width = 100%
hotPink = #F22E60
crimson = #D83027
brown = #533B3A
dkBrown = #241C1C
clay = #C0817A
cloud = rgba(250,250,255,0.985)
white = rgb(250,250,255)

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {}

body
  height auto
  color brown
  *
    background-repeat no-repeat
  &.loading
    #site-nav
      pointer-events none    
    .page
      opacity 0
  &.menu-mobile-show, &.donate-show
    overflow hidden
  &.stop-scroll
    height 100%
    overflow hidden


#content
  transition filter 1s ease, -webkit-filter 1s ease

  .page
    opacity 0
    transition opacity .45s ease-in
    &.is-visible
      transition opacity 1s ease-out
      opacity 1

  .img.loading, .div.loading
    opacity 0

#backstage
  display none
    
#site-header
  width 100%
  clearfix()

#site-footer
  padding 10vh 0 6vh 0
  width 100%
  background-color dkBrown
  color clay
  clearfix()
  text-align center
  position relative

  h2
    margin-bottom 4em

  .social a
    display inline-block
    margin 0
    padding 0 .5em
    vertical-align center

  .email a
    font-size 3.25em
    display block

  a 
    Garamond()
    color clay
    text-decoration none
    margin-bottom 1em
    transition 0.15s ease   
       
    &:hover
      color hotPink

    svg
      width 50px
      height 50px
      *
        fill clay
        transition 0.15s ease
      &:hover
        *
          fill hotPink
    
  .copyright
    margin-top 12em
    font-size 1em
    p
      Garamond()
      margin 0 0 .5em 0
    a
      text-decoration underline

section.cta
  min-height 0 !important
  padding-bottom 8em
  padding-top 8em
  .wrapper
    column(10)
    push(1)
    overflow visible
  p, h3
    display inline-block
    margin 0
    color brown
  p
    margin-right 0.5em
  
.page
  h1
    GaramondDisplay()
    font-size 4em
    font-weight normal
    line-height 1.2
    
  h2
    Franklin()
    font-size 3.25em
    letter-spacing 0.075em
    margin 0
    text-transform uppercase

  h3
    FranklinBold()
    font-size 1.33em
    letter-spacing 0.2em
    margin 0
    text-transform uppercase
    
  .table
    display table
  .cell
    display table-cell
    vertical-align middle
    position relative

  #top 
    width 100%
    display table
    min-height 66vh
    h1
      font-size 6.5em
      text-align center
      margin 0 0 .25em 0
    h2
      text-align center
    p
      Garamond()
      text-align center
      font-size 2em
      
  .arrow-link
    display block
    color brown
    margin 1em 0
    padding 0
    position relative
    overflow visible !important
    text-decoration none
    
    &:hover
      .hover
        min-width 100% !important
      .arrow-wrap
        transform translateX(16px)
        transition transform 0.3s ease-out 0.1s
      svg *
        stroke hotPink
        
    svg *
      stroke brown
      transition stroke 0.3s ease
      height
    
    h2
      GaramondDisplay()
      font-size 4em
      line-height 1
      text-transform none
      letter-spacing -0.02em
      margin 1.5rem 0 1.25rem 0
      position relative
      left -0.2rem
     
    .arrow-link-inner
      border-top 1px solid brown
      border-bottom 1px solid brown
      &.hover
        absolute100()
        width 0
        min-width 0%
        height auto
        border-top 1px solid hotPink
        border-bottom 1px solid hotPink
        color hotPink
        transition min-width 0.35s ease-in-out
        overflow hidden
        white-space nowrap

    .arrow-wrap
      position absolute
      right 0
      width 32px
      height 32px
      top 50%
      margin-top -10px
      transition transform 0.3s ease

@media only screen and (min-width: 768px)
  
  section.cta
    font-size 1.1rem !important
    .wrapper
      column(6)
      push(3)
      overflow visible

  #site-footer
    .email
      column(3)
      push(1)
      font-size 0.6em
      text-align left

    .social
      column(4)

    .copyright
      column(4)
      text-align left
      font-size 0.75em

  .page
    h1
      font-size 4.5em
    #top
      min-height 66vh
      padding-top 2em
      h1
        font-size 10em
      p
        font-size 2.5em
        column(8)
        push(2)
  
    .arrow-link h2
      font-size 5em

